@charset "utf-8";
body{width: 100%;}
section{padding: 0 2%;line-height:1.8rem;color:#2F2F2F ;}
.activity_01{font-size: 0.9rem;}
.activity_01  h2{font-size: 1.4rem;font-weight: bold;text-align: center;}
.activity_ol li{padding-bottom: 1rem;line-height:1.8rem;}
.activity_ol li span{font-weight: bold;margin-right: 0.5rem;}
.activity_ul{list-style: disc;margin-left:1rem;margin-top: 0.5rem;}
.activity_ul2{font-weight: bold;}
.activity_ul2 li span{margin-left: 2rem;}
.footer{margin-top: 1.5rem;}
.activity_line{border-top: 1px solid #000000;width: 13%;margin: 0 auto;margin-top: -0.3rem;margin-bottom: 1rem;}
