@charset "utf-8";
/*头部活动*/

.indexTop_up img{width: 100%;position: relative;}
.indexTop_up p img{width: 20%;position: absolute;left:40%;top:20%;}

/*热门套餐*/
.indexList_meal{margin-bottom: 1.3rem;}
.indexList_head{text-align: center;font-size:1rem;color: #2f2f2f;font-weight: bold;margin-bottom: -1.8rem;}
.indexList_head figcaption{background:url(../../img/index_image_best@2x.png) no-repeat center 1.8rem;height: 5.2rem;background-size:12%;}
/*图文描述*/
.indexList_max{margin-bottom:0.2rem;position: relative;}
.indexList_max img{width: 100%;}
.indexList_ms1{position:absolute;top:78%;color: #fff;left: 5%;}
.indexList_ms1 h3{font-size: 20px;}
.indexList_ms1 p{background: url(../../img/index_icon_position@2x.png) no-repeat center left;background-size:6%;padding-left: 1.3rem;font-size: 15px;}
.indexList_ms2{position:absolute;top:75%;color: #fff;left: 5%;}
.indexList_ms2 p{background:url(../../img/restaurant_btn_buy_nor@2x.png) no-repeat center;font-size: 14px;width: 50%;}

/*广告*/
.banner{overflow:hidden;position:relative;/*top: 44px;*/}
.swipe-wrap {overflow:hidden;position:relative;}
.indexTop_up{float:left;width:100%;position:relative; overflow:hidden; }

/*一元秒抢*/
.indexList_new{position: relative;}
.indexList_new img{position: relative;}
.indexList_new p img{position: absolute;top:5%;left:0.5rem;width: 20%;}
/*swiper*/
.swiper-container {
        width: 100%;
        margin-top:-0.1rem !important;
    }

.swiper-slide {
    text-align: left;
    width:60%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-slide p{margin-top:0.3rem;}
/*查看更多*/

.swiper-slide:last-child p{width:1rem;text-align: center;word-break: break-word;background:url(../../img/common_image_pre.png) no-repeat center 80%;background-size: 60%;
padding-bottom: 2rem;margin-left: 0.5rem;margin-top: 1rem;}
.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}