@charset "utf-8";
body{color: #000;}
/*餐厅信息*/
/*导航*/
.restaurant_head{text-align: center;margin-top: 1rem;}

/*商家地址*/
.restaurant_address{padding: 0 4%;;margin-bottom:1.5rem;margin-top: 2rem;}
.restaurant_address h3{margin-bottom: 1rem;}
.restaurant_address ul li{padding:0.1rem 0 0.1rem 1.3rem ;border-bottom: 1px solid #CCCCCC;}
.restaurant_dd{background:url(../../img/restaurant_icon_position@2x.png) no-repeat center left,url(../../img/tabbar_left_icon_next@2x.png) no-repeat center right;background-size: 4%;font-size: 14px;}
.restaurant_time{background:url(../../img/restaurant_icon_time@2x.png) no-repeat center left;background-size: 4.5%;}
.restaurant_time span,.restaurant_xf span{float: right;}
.restaurant_xf{background: url(../../img/restaurant_icon_range@2x.png) no-repeat center left;background-size: 4.5%;}
.restaurant_address li:last-child{background:url(../../img/restaurant_icon_phone@2x.png) no-repeat center left,url(../../img/tabbar_left_icon_next@2x.png) no-repeat center right;background-size: 4%;}

/*订座须知*/
.restaurant_know h3{margin-bottom: 1rem;}
.restaurant_know{line-height:2.2rem ;padding: 0 4%;margin-bottom:1.5rem;}
.restaurant_know ul{list-style:disc;margin-left:1rem;}
.restaurant_know ul li{margin: 0.5rem 0;}
/*推荐套餐*/
.restaurant_tips{padding: 0 4%;}
.restaurant_tips h3{;margin-bottom: 1rem;}
/*摇一摇*/
.restaurant_yiy{padding-bottom: 7rem;margin-top: 1rem;position: relative;}
.restaurant_yiy p{background: url(../../img/restaurant_yaoyiyao_line_left@2x.png) no-repeat center left,url(../../img/restaurant_yaoyiyao_line_right@2x.png) no-repeat center right;padding-left:-0.8rem;padding-right:2.5rem;text-align: center;margin: 0 auto;
width: 45%;background-size:8%;position: relative;}
.restaurant_yiy span{margin-top: -1.3rem;margin-left:62%;position: absolute;}

/*预定座位*/
.restaurant_yd{position: fixed; background: #FFFFFF;bottom: 0;border-top: 1px solid #DCDCDC;width: 100%;left: 0;hei-ght: 2.8rem;font-size: 16px;padding: 0.1rem 0;z-index:10;}
.restaurant_yd p{float: left;margin-left:4%;}
.restaurant_yd p span{color: #ff222e;font-weight: bold;;margin-left: 0.5rem;}
.restaurant_yd input{float: right;background: url(../../img/restaurant_btn_buy_nor@2x.png);background-size: contain;padding: 0.6rem 1.2rem;border: 0;
border-radius: 4px;margin-right: 2%;margin-top: 0.5rem;color: #FFFFFF;}
/*swiper*/
.swiper-container {
        width: 100%;
        margin-top:-0.1rem !important;
    }
.swiper-wrapper{margin-left: 2.2rem !important;}
.swiper-slide {
    text-align: left;
    width:60%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{width: 100%;}
.swiper-slide p{margin-top:0.3rem;}
/*查看更多*/

.swiper-slide:last-child p{width:1rem;text-align: center;word-break: break-word;background:url(../../img/common_image_pre.png) no-repeat center 80%;background-size: 60%;
padding-bottom: 2rem;margin-left: 0.5rem;margin-top: 1rem;}
.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}
/*美食食记*/
.restaurant_two{padding: 0 4%;line-he-ight: 2.2rem;}
/*发布食记*/
.restaurant_record{margin-bottom: 1.5rem;}
.restaurant_record h3{margin-bottom: 1rem;}
.restaurant_block{border: 1px dashed #DCDCDC;text-align: center;padding: 2.5rem 0;}
.restaurant_block h3{background:url(../../img/restaurant_btn_add_record.png) no-repeat 29% center;line-height:1.8rem;background-size: 11%;}
/*历史食记*/
.restaurant_history{margin-bottom:0.5rem;}
.restaurant_history h3{margin-bottom: 1rem;}
.restaurant_pic{position: relative;}
.restaurant_pic img{position: relative;}
.restaurant_pic p{position: absolute;margin-top: -18%;color: #FFFFFF;margin-left:5%;margin-right:5%;line-height:1.5rem;}
/*我的食记*/
.restaurant_my div{float: left;width:8%;margin-right: 0.3rem;}
.restaurant_my h3 span{float: right;color:#777570;}
.restaurant_my{line-height: 1.7rem;border-bottom: 1px solid #000000;margin-bottom:0.8rem;}
