@charset "utf-8";
.restaurant_01{widows: 100%;}
.restaurant_01 img{width: 100%;}
.restaurant_title{padding: 0 4%;line-height:1.8rem;}
.restaurant_title header{font-size: 1rem;font-weight: bold;text-align: center;margin-top:2rem;}
.restaurant_title aside{margin-top: 1rem;co-lor:#777570;}
.restaurant_line{border-bottom: 2px solid #000000;width: 13%;margin: 0 auto;margin-top: 1rem;}

/*底部链接*/
.restaurant_link{margin: 0 auto;margin-top:20%;margin-bottom: 10%;;width: 3rem;height: 3rem;
background-size:50%;cursor: pointer;}
/*右滑提示*/
.u-arrow-right{
				position: absolute;
				width:20%;
				/*height: 24px;*/
				z-index: 150;
				top: 60%;
				margin-top:-21%;
				right:-45px;
				transform: scaleY(1);
				-webkit-transform: scaleY(1)
			}
			.u-arrow-right img {
				position: absolute;
				margin: -7px 0 0 -14px;
				width:35%;
				-webkit-animation: rightflip 1.5s infinite ease-in-out;
				-moz-animation: rightflip 1.5s infinite ease-in-out;
				animation: rightflip 1.5s infinite ease-in-out
			}
			@-webkit-keyframes rightflip {
				0%, 30% {
					opacity: 0;
					-webkit-transform: translate(-8px, 0)
				}
				60% {
					opacity: 1;
					-webkit-transform: translate(0, 0)
				}
				100% {
					opacity: 0;
					-webkit-transform: translate(10px, 0)
				}
			}
/*左滑提示*/
.u-arrow-left{
				position: absolute;
				width:20%;
				z-index: 150;
				margin-top:70%;
				/*right: 10px;*/
				transform: scaleY(1);
				-webkit-transform: scaleY(1)
			}
			.u-arrow-left img {
				position: absolute;
				top: 100%;
				left: 130%;
				width:35%;
				-webkit-animation:leftflip 1.5s infinite ease-in-out;
				-moz-animation: leftflip 1.5s infinite ease-in-out;
				animation: leftflip 1.5s infinite ease-in-out
			}
			@-webkit-keyframes leftflip {
				0%, 30% {
					opacity: 0;
					-webkit-transform: translate(10px, 0)
				}
				60% {
					opacity: 1;
					-webkit-transform: translate(0, 0)
				}
				100% {
					opacity: 0;
					-webkit-transform: translate(-8px, 0)
				}
			}