@charset "utf-8";
form{padding: 4% 4% 0;}
.order_info{position: relative;}
.order_info img{position: relative;}
.order_info h3{position: absolute;color: #FFFFff;top:80%;width: 100%; text-align: center;font-size: 1rem;
background: url(../../img/restaurant_dish_bg@2x.png) no-repeat center;background-size: 85%;padding: 0.5rem 0;}
/*套餐*/
.order_meal{text-align: center;margin-top:1.5rem;padding:0 10%;}
.order_meal h3{background: url(../../img/index_image_best@2x.png) no-repeat center 1.5rem;height: 5rem;background-size:15%;}
.order_meal span{border-left: 1px solid #000000;border-right: 1px solid #000000;padding: 0 0.5rem;}
.order_meal p{line-height: 1.5rem;margin-bottom: 2rem;}
.order_bline{background: url(../../img/restaurant_dish_line.png) no-repeat center;width:100%; height:0.4rem;background-size: 18%;}
/*须知*/
.line{position: relative;}
.line-center{width: 100%;text-align: center;}
.line-left{border-top: 1px solid #CCCCCC;text-align: left;width: 38%;position: absolute;top:-0.3rem;}
.line-right{border-top: 1px solid #CCCCCC;right: 0;width: 38%;position: absolute;top: -0.3rem;}
.restaurant_xz{border: 1px solid #2F2F2F;margin-top: 1em;margin-bottom: 1em;width:20%;padding: 0.3rem 0.7rem;}
.line ul{list-style: disc;margin-left: 1rem;margin-top: 2rem;line-height: 1.5rem;padding-bottom: 5rem;}
/*立即购买*/
.restaurant_gm{position: fixed; background: #FFFFFF;bottom: 0;border-top: 1px solid #DCDCDC;width: 100%;left: 0;he-ight:3rem;font-size: 16px;padding: 0.2rem 0;}
.restaurant_gm p{float: left;margin-left:4%;}
.restaurant_gm p span{color: #ff222e;font-weight: bold;;margin-left: 0.5rem;}
.restaurant_gm input{float: right;background: url(../../img/restaurant_btn_buy_nor@2x.png);background-size: contain;padding: 0.5rem 1rem;border: 0;
border-radius: 4px;margin-right: 2%;margin-top: 0.5rem;color: #FFFFFF;}
