@charset "utf-8";
body{background: #DCDCDC;}
/*section{width:100%;}*/

.column_top{position: relative;background-color:#DCDCDC;margin-top: 0.2rem;}
.column_tw1{position: relative;width:49%;float: left;padding-left:0.3%;}
.column_tw1 img{position: relative;width:100%;vertical-align: top;margin-bottom:1%;}
.column_edit1{position: absolute;;color: #FFFFFF;left:5%;top:8em;}
.column_edit1 h3{font-size:1rem;border-left: 1px solid #FFFFFF;padding-left:0.5em;}
.column_edit1 p{font-size: 0.8rem;}

/*专栏文章*/
.column_nav{position:fixed;width: 100%;z-index: 10;font-size: 18px;background: #FFFFFF;
bottom: 0;}
.column_nav ul{width: 100%;border-top: 1px solid #DCDCDC;}
.column_nav ul li{float: left;width: 49.8%;text-align: center;}
.column_nav ul li:first-child{border-right: 1px solid gainsboro;}
.column_nav ul li a:link{color:#000;}
.column_nav ul li a:visited{color:#262726;}
/*一定要清除浮动*/
.footer{height:5rem;width: 100%;clear: both;}
