@charset "utf-8";
.column_tw2{width: 100%;position: relative;margin-bottom: -0.3em;}
.column_tw2 img{width: 100%;position: relative;}

.column_tw2 h3{font-size:20px;position:absolute;top:75%;color: #FFFFFF;left:6%;}
.column_date{font-size:18px;position: absolute;top:4%;color: #FFFFFF;left:6%;}
.column_wz{position:absolute;font-size:12px;background-color: #ff5300;padding: 0.2em 0.3em;color: #FFFFFF;left:6%;top:82%;}
